* {
  font-family: sans-serif;
}

.modal-button {
  color: white;
  background-color: rgb(22, 85, 202);
  height: 50px;
  width: 150px;
  font-size: 17px;
}

.modal-two {
  text-align: center;
}

.modal-one {
  text-align: center;
  height: 80px;
}

.no-button {
  width: 98px;
  height: 43px;
  background-color: #f73434;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.modal {
  background: white;
  display: flex;
  flex-direction: column;
}

.modal-none {
  background: white;
  display: none;
  flex-direction: column;
}

.modal-active {
  background: white;
  width: 500px;
  height: 200px;
  border-radius: 15px;
}

.container {
  height: 1000px;
}

.container-pressed {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1400px;
}

.modal-holder-active {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.hidden {
  display: none;
}
